@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url('pt-sans-narrow-v11-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2');
}
a {
  color: #007480;
  text-decoration: none;
}
body {
    background-color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
  	font-size: 18px;
    margin: 0;
}
button { cursor: pointer; }
#view-axis line, #view-axis path {
    fill: none;
    stroke: #888;
    stroke-width: 0.25;
}
#view-axis text { fill: #888; }
#view-axis .domain { opacity: 0; }
svg text {
    fill: #444;
  	font-family: 'PT Sans Narrow';
    font-size: 1em;
}
.brush .extent {
    stroke: #444;
    fill: #444;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
#center-text { font-size: 4em; }
.subtitle {
    fill-opacity: 0.8;
    stroke: #000;
    stroke-width: 0.25;
}
.subtitle:hover {
    cursor: pointer;
    fill-opacity: 0.75;
    stroke-width: 0.5;
}
.tied {
    stroke: #f00;
    stroke-width: 1;
}
#menu {
    border-bottom: 1px solid #bbb;
    padding: 10px 20px;
}
#settings { padding: 10px 20px; }
#settings table {
    float: left;
    margin-right: 40px;
}
#settings table td { padding: 4px; }
#view-track-locked, #view-track-unlocked {
    fill: #444;
    fill-opacity: 0.2;
}
